body {
    background-color: #eaeaea;
}

.table th:last-of-type {
    min-width: 100px;
}

.sortable {
    cursor: pointer;
    min-width: 100px;
}

#project-img{
    height: 25rem;
    margin-top: 2rem;
    
}

.navbar-brand{
    font-family: "Lucida Handwriting";
    font-size: 25px;
}



.headddd{
    font-weight: bold;
}

.top-nav li {
    display: inline;
    padding: .1rem .5rem;
    border-right: 1px solid #000000;
}

.top-nav li:last-of-type {
    border-right: 0;
}

.top-nav li a {
    color: #000000;
    text-decoration: none;
}

.top-nav li a:hover,
.top-nav li a:focus {
    text-decoration: underline;
}

.site-logo {
    font-size: 2rem;
    line-height: 1;
    font-family: 'Righteous', cursive;
    padding-left: 7rem;
}

.site-logo a {
    color: #404040;
    text-decoration: none;
}

.site-logo a:hover,
.site-logo a:focus {
    color: #000;
}




.pagination {
    font-size: 20px;
}

.pagination .page-link {
    background-color: transparent;
    border: 0;
    margin-right: 10px;
    color: #656565;
}

.pagination .page-link:hover,
.pagination .page-link:focus {
    color: #000;
}

.pagination .page-item.disabled .page-link {
    background-color: transparent;
    color: #9fa9ab;
}

.pagination .page-item.active .page-link {
    background-color: #656565;
    color: #fff;
    font-size: 23px;
    line-height: 1;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    padding-left: 0;
    padding-right: 0;
}

table td,
table th {
    vertical-align: middle !important;
}

table td img {
    max-height: 80px;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

@media (max-width: 767.98px) {

    .sidebar {
        border-left: 0 solid #c7c8c9;
        border-top: 1px solid #c7c8c9;
    }

}



